.main{
    
    max-width: 1366px;
    margin: 0 auto;
}

.operatorInList{
    cursor: pointer;
}

#operator{
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}
.hidden-div {
    cursor: not-allowed;
  display: none;
  pointer-events:none;
}

/* 

*/